main.fade-enter {
    opacity: 0;
    transform: translateY(20px);
    background-color: red;
}
main.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
    background-color: green;
}
main.fade-exit {
    opacity: 1;
    transform: translateY(0);
    background-color: blue;
}
main.fade-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
    background-color: yellow;
  }
  